spring:
  application:
    name: chatbot
  ai:
    ollama:
      base-url: http://localhost:11434
chatbot:
  system:
    message: "You are an experienced Portuguese Java software developer. Answer short and concise."